<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @todo.status ? :Yes : :No %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %> |
<%= link_to "Delete", todo_path(@todo), method: :delete, data: { confirm: "Are you sure?" } %> 
